body {
    background-color: #000000; /* Black background */
    color: #000000; /* White text */
    font-family: 'Courier New', Courier, monospace; /* Monospace font */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.terminal {
    width: 80%;
    max-width: 800px;
    border: 1px solid #000000; /* Slight border */
    border-radius: 5px;
    padding: 20px;
    background-color: #000; /* Terminal Black */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.terminal-output {
    white-space: pre-wrap;
    margin-bottom: 10px;
}

.terminal-input {
    display: flex;
    align-items: center;
}

.prompt {
    color: #00FF00; /* Green prompt */
}

#input {
    background: none;
    border: none;
    color: #f2ecec; /* White text */
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    flex-grow: 1;
}

#input::placeholder {
    color: #888;
}

.cursor {
    display: inline-block;
    background: #ea0606;
    width: 8px;
    animation: blink 1s step-end infinite;
    margin-left: 2px;
}

@keyframes blink {
    from, to { background: transparent; }
    50% { background: #000000; }
}

.typing {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    animation: typing 2s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}
